version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    container_name: nextjs-app
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
      - HOSTNAME=0.0.0.0
      - PORT=3000
    restart: unless-stopped

